/* 전체 페이지의 기본 스타일 */
body {
   
    color: #333;
    
    line-height: 1.6em;
    padding: 0;
    margin: 0;
}





/* 주소 카드 스타일 */
.address-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.address-card p {
    margin: 5px 0;
}
